<!doctype html>
<html class="x-admin-sm">
<script type="text/javascript" src="/js/common.js"></script>
<style>
    table {
        table-layout: fixed;
    }

    td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<body>
<div class="x-body" id="subject">
    <xblock>
        <button class="layui-btn" onclick="x_admin_show('新增','/console/talent/add/page',900,600,true)"><i
                class="layui-icon"></i>添加
        </button>
        <span class="x-right" style="line-height:40px">共有数据：<strong
        >{{msg.page.total}}</strong> 条</span>
    </xblock>
    <script type="text/javascript" src="/js/topType2.js"></script>
    <table class="layui-table x-admin">
        <thead>
        <tr>
            <th style="width: 100px">用户id</th>
            <th style="width: 200px">用户昵称</th>
            <th style="width: 100px">用户头像</th>
            <th style="width: 300px">用户介绍</th>
            <th style="width: 70px">排名</th>
            <td>其他操作</td>
        </tr>
        </thead>
        <tbody>
        <tr v-for="v in msg.results">
            <td>{{v.user.userId}}</td>
            <td>{{v.user.nickname}}</td>
            <td><img :src="v.user.userHeadPortrait"></td>
            <td :title="v.describe">{{v.describe}}</td>
            <td>{{v.rank}}</td>
            <td>
                <a href="javascript:;" :propid="v.id"
                   onclick="x_admin_show('编辑','/console/talent/update/page?id='+getId(this),900,600,true)"
                   title="编辑">
                    <i class="layui-icon">&#xe642;</i>
                </a>
                <a href="javascript:;" :propid="v.id" onclick="del(this)" title="删除">
                    <i class="layui-icon margin">&#xe640;</i>
                </a>
            </td>

        </tr>
        </tbody>
    </table>
    <script type="text/javascript" src="/js/page.js"></script>
</div>
<script type="text/javascript">
    function getId(obj) {
        return $(obj).attr("propid");
    }

    function getGameType() {
        return $('input[name="gameType"]:checked').val();
    }

    layui.use('form', function () {
        var form = layui.form;
        form.on('radio(gameType)', function (data) {
            req(vm.msg.page.pageNum, data.value);
        });
    });

    function req(pageNum) {
        var gameType = $('input[name="gameType"]:checked').val();
        if (typeof gameType == "undefined") {
            gameType = 4;
        }
        var url = '/console/talent/list';
        var param = {'gameType': gameType, 'pageNum': pageNum};
        getReqApi(url, param);
    }

    $(function () {
        req(1);
    });

    function del(obj) {
        layer.confirm('确认要删除吗？', function (index) {
            $.ajax({
                async: false,    //表示请求是否异步处理
                type: "delete",    //请求类型
                url: "/console/talent/delete/" + getId(obj),//请求的 URL地址
                dataType: 'json',
                success: function (data) {
                    if (data.code == 200) {
                        req(vm.msg.page.pageNum, data.value);
                        layer.msg('已删除!', {icon: 1, time: 1000});
                    } else {
                        layer.msg("删除失败");
                    }
                },
                error: function (data) {
                    layer.msg("删除失败");
                }
            });

        });
    }

</script>
<script type="text/javascript" src="/js/applyUtils.js"></script>
</body>

</html>