<!doctype html>
<html class="x-admin-sm">
<script type="text/javascript" src="/js/common.js"></script>
<body>
<div class="x-body" id="subject">
    <form class="layui-form" id="form">
        <div class="layui-form-item">
            <label class="layui-form-label">
                用户ID
            </label>
            <div class="layui-form-label" style="width: 70%;text-align: left; font-size: 20px">
                {{msg.user.userId}}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                用户昵称
            </label>
            <div class="layui-form-label" style="width: 70%;text-align: left; font-size: 20px">
            {{msg.user.nickname}}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="describe">
                达人描述
            </label>
            <div class="layui-input-inline" style="width: 70%">
                <textarea style="height: 140px" class="layui-input" id="describe"
                          name="describe" type="text" :value="msg.describe">
                </textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="rank">
                排名
            </label>
            <div class="layui-input-inline" style="width: 70%">
                <input class="layui-input" id="rank"
                       name="rank" type="text" :value="msg.rank">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
            </label>
            <input class="layui-btn layui-btn-normal" onclick="update()" style="width: 30%" type="button"
                   value="提交"/>
        </div>
        <input id="gameType" type="hidden" name="gameType">
        <input id="id" type="hidden" name="id" :value="msg.id">
    </form>
</div>
<script type="text/javascript" src="/js/applyUtils.js"></script>
<script type="text/javascript">
    getReqApiResult('/console/talent/details', {id: GetRequest()['id']});

    function update() {
        $("#gameType").val(parent.getGameType());
        $.ajax({
            async: false,    //表示请求是否异步处理
            type: "put",    //请求类型
            url: "/console/talent/update",//请求的 URL地址
            dataType: "json",//返回的数据类型
            data: $("#form").serialize(),
            success: function (data) {
                if (data.code == 200) {
                    //关闭当前frame
                    x_admin_close();
                    parent.req(parent.vm.msg.page.pageNum);
                    return false;
                } else {
                    layer.msg(data.message, {icon: 5, time: 1000});
                    return false;
                }
            },
            error: function (data) {
                layer.msg("请求异常", {icon: 5, time: 1000});
                return false;
            }
        });
    }

</script>
</body>
</html>