<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:include="commom/header :: commonHead('下载统计')"></head>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .chunk {
            float: left;
            width: 300px;
        }
    </style>
</head>
<body>
<form style="padding: 60px 0" class="layui-form">
    <div class="chunk">
        <input type="text" autocomplete="off" class="layui-input" id="startTime" name="startTime"
               th:value="${startTime}" placeholder="请选择开始日期">
    </div>
    <div class="chunk">
        <input type="text" autocomplete="off" class="layui-input" id="endTime" name="endTime" th:value="${endTime}"
               placeholder="请选择结束日期">
    </div>
    <div class="chunk">
        <select id="type" name="type" lay-filter="type" style="width: 200px" >
            <option th:each="downLoadType:${downLoadType}" th:text="${downLoadType}" th:value="${downLoadType}"
                    th:selected="${type==downLoadType?true:false}"></option>
        </select>
    </div>
    <div>
        <input type="submit" class="layui-btn layui-btn-normal">
    </div>

</form>
<div th:text="${downLoadNum}+'次'+${downLoadNum>50?'!':''}"
     style="font-size: 100px;color: #ff002b;text-align: center;line-height: 50px;padding: 200px 0">
</div>
<span th:include="commom/footer :: commonOnLoadJs"></span>
<script>
    layui.use('laydate', function () {
        var laydate = layui.laydate;
        //执行一个laydate实例
        laydate.render({
            elem: '#startTime' //指定元素
            , type: 'datetime'
            , format: 'yyyy年MM月dd日HH时m分s秒'
        });
        laydate.render({
            elem: '#endTime' //指定元素
            , type: 'datetime'
            , format: 'yyyy年MM月dd日HH时m分s秒'
        });
    });
    layui.use('form', function () {
        var form = layui.form;
    });

    function downLoadStat() {
        $.ajax({
            async: false,    //表示请求是否异步处理
            type: "put",    //请求类型
            url: "/downLoadStat",//请求的 URL地址
            dataType: "json",//返回的数据类型
            data: $("#form").serialize(),
            success: function (data) {
                if (data.code == 200) {
                    //关闭当前frame
                    x_admin_close();
                    // 可以对父窗口进行刷新
                    x_admin_father_reload();
                    return false;
                } else {
                    layer.alert(data.results, {icon: 5}, function () {
                        //关闭当前frame
                        x_admin_close();
                        // 可以对父窗口进行刷新
                        x_admin_father_reload();
                    });
                    return false;
                }
            },
            error: function (data) {
                layer.alert("请求异常", {icon: 5}, function () {
                    //关闭当前frame
                    x_admin_close();
                    // 可以对父窗口进行刷新
                    x_admin_father_reload();
                });
                return false;
            }
        });
    }
</script>
</body>
</html>