<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html class="x-admin-sm">
<head th:include="commom/header :: commonHead('设置版本信息')"></head>
<head>
    <style>
        .ui-upload {
            height: 30px;
            width: 80px;
            background-color: #00abff;
            font-size: 14px;
            line-height: 30px;
            cursor: pointer;
            display: inline-block;
            text-align: center;
            color: #fff;
            border-radius: 3px;
            margin-left: 20px;
        }

        .w-e-menu {
            z-index: 2 !important;
        }

        .w-e-text-container {
            z-index: 1 !important;
        }

        .layui-form-checkbox span {
            width: 40px !important;
            text-align: center !important;
        }

        .layui-form-checkbox {
            float: left !important;
        }

        .title {
            color: red;
            text-align: center;
            margin-bottom: 10px;
            font-size: 25px;
        }
    </style>
</head>
<body>
<div class="x-body">
    <form class="layui-form" id="form">
        <div class="layui-form-item">
            <label class="layui-form-label" for="version">
                <span class="x-red">*</span>版本号
            </label>
            <div class="layui-input-inline" style="width: 70%">
                <input class="layui-input" id="version"
                       name="version" type="text" th:value="${obj.version}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="serial">
                <span class="x-red">*</span>版本序号
            </label>
            <div class="layui-input-inline" style="width: 70%">
                <input class="layui-input" id="serial"
                       name="serial" type="text" th:value="${obj.serial}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="description">
                更新文案
            </label>
            <div class="layui-input-inline" style="width: 70%;">
                <textarea style="height: 120px;" class="layui-input" id="description"
                          name="description" th:text="${obj.description}"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="publishTime">
                <span class="x-red">*</span>发布时间
            </label>
            <div class="layui-input-inline" style="width: 70%">
                <input type="text" autocomplete="off" class="layui-input time" id="publishTime" name="publishTime"
                     th:value="${#dates.format(obj.publishTime, 'yyyy-MM-dd HH:mm:ss')}"  placeholder="请选择发布时间">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="az">
                <label class="layui-btn layui-btn-normal">上传安智包<input id="az" terrace="anzhi" class="uploadSDK" style="display: none;"
                                                                      type="file"/></label>
            </label>
            <div class="layui-input-inlin lab" style="width: 70%;line-height: 47px;">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="bd">
                <label class="layui-btn layui-btn-normal">上传百度包<input id="bd" terrace="baidu" class="uploadSDK" style="display: none;"
                                                                      type="file"/></label>
            </label>
            <div class="layui-input-inlin lab" style="width: 70%;line-height: 47px;">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="360">
                <label class="layui-btn layui-btn-normal">上传360包<input id="360" terrace="360cn" class="uploadSDK" style="display: none;"
                                                                      type="file"/></label>
            </label>
            <div class="layui-input-inlin lab" style="width: 70%;line-height: 47px;">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="yyb">
                <label class="layui-btn layui-btn-normal">上传应用宝包<input id="yyb" terrace="yingyongbao" class="uploadSDK" style="display: none;"
                                                                      type="file"/></label>
            </label>
            <div class="layui-input-inlin lab" style="width: 70%;line-height: 47px;">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="hw">
                <label class="layui-btn layui-btn-normal">上传华为包<input id="hw" terrace="huawei" class="uploadSDK" style="display: none;"
                                                                      type="file"/></label>
            </label>
            <div class="layui-input-inlin lab" style="width: 70%;line-height: 47px;">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="op">
                <label class="layui-btn layui-btn-normal">上传oppo包<input id="op" terrace="oppo" class="uploadSDK" style="display: none;"
                                                                      type="file"/></label>
            </label>
            <div class="layui-input-inlin lab" style="width: 70%;line-height: 47px;">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="al">
                <label class="layui-btn layui-btn-normal">上传阿里包<input id="al" terrace="aliapp" class="uploadSDK" style="display: none;"
                                                                      type="file"/></label>
            </label>
            <div class="layui-input-inlin lab" style="width: 70%;line-height: 47px;">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="xm">
                <label class="layui-btn layui-btn-normal">上传小米包<input id="xm" terrace="xiaomi" class="uploadSDK" style="display: none;"
                                                                      type="file"/></label>
            </label>
            <div class="layui-input-inlin lab" style="width: 70%;line-height: 47px;">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="vv">
                <label class="layui-btn layui-btn-normal">上传vivo包<input id="vv" terrace="vivo" class="uploadSDK" style="display: none;"
                                                                      type="file"/></label>
            </label>
            <div class="layui-input-inlin lab" style="width: 70%;line-height: 47px;">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="mz">
                <label class="layui-btn layui-btn-normal">上传魅族包<input id="mz" terrace="meizu" class="uploadSDK" style="display: none;"
                                                                        type="file"/></label>
            </label>
            <div class="layui-input-inlin lab" style="width: 70%;line-height: 47px;">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="dw">
                <label class="layui-btn layui-btn-normal">上传其他包<input id="dw" terrace="download" class="uploadSDK" style="display: none;"
                                                                      type="file"/></label>
            </label>
            <div class="layui-input-inlin lab" style="width: 70%;line-height: 47px;">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
            </label>
            <input class="layui-btn layui-btn-normal" onclick="updateSDK()" style="width: 30%" type="button"
                   value="提交版本"/>
        </div>
    </form>

</div>
<!-- 注意， 只需要引用 JS，无需引用任何 CSS ！！！-->
<span th:include="commom/footer :: commonOnLoadJs"></span>
<script th:src="@{/js/cos-js-sdk-v5.js}" type="text/javascript"></script>
<script th:src="@{/js/uploadFile.js}" type="text/javascript"></script>
<script th:inline="javascript" type="text/javascript">
    layui.use('laydate', function () {
        var laydate = layui.laydate;
        //同时绑定多个
        lay('#publishTime').each(function () {
            laydate.render({
                elem: this
                , format: 'yyyy-MM-dd HH:mm:ss'
                , type: 'datetime'
                , trigger: 'click'
            });
        });
    });

    // 监听选文件
    $(".uploadSDK").on('change', function () {
        var terrace = $(this).attr("terrace");
        var file = this.files[0];
        uploadApk(file, setLab,terrace+"/自走魔盒.apk",$(this));
    });
    function setLab(url,obj) {
        console.info(obj.attr("terrace"));
        $($(".lab").get($(".uploadSDK").index(obj))).text(obj.attr("terrace")+"包上传成功");
    }


    function updateSDK() {
        $.ajax({
            async: false,    //表示请求是否异步处理
            type: "post",    //请求类型
            url: "/console/SDK/update",//请求的 URL地址
            dataType: "json",//返回的数据类型
            data: $("#form").serialize(),
            success: function (data) {
                if (data.code == 200) {
                    layer.msg('更新成功!', {icon: 1, time: 1000});
                } else {
                    layer.msg(data.message, {icon: 5, time: 1000});
                }
            },
            error: function (data) {
                layer.msg("错误", {icon: 5, time: 1000});
            }
        });
    }

</script>
</body>
</html>