<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta name="generator" content="Hexo 3.8.0">
    <script src="../../js/jquery-3.3.1.min.js"></script>
    <link rel="icon" href="https://auto-chess-box-1251720259.cos.ap-chengdu.myqcloud.com/logoShare.png"
          type="images/x-ico"/>
    <link rel="stylesheet" href="../../css/share.css"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>自走魔盒</title>
    <script src="../../js/vue.min.js"></script>
    <meta charset="UTF-8">
    <title>自走魔盒，帮你吃鸡</title>
    <script type="text/javascript">
        function GetRequest() {
            var url = location.search;
            var theRequest = new Object();
            if (url.indexOf("?") != -1) {
                var str = url.substr(1);
                strs = str.split("&");
                for (var i = 0; i < strs.length; i++) {
                    theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
                }
            }
            return theRequest;
        }
    </script>
    <style>
        .userHeadPortrait {
            border-radius: 100%;
            width: 80px;
            height: 80px;
            margin: auto;
            text-align: center;
            overflow: hidden;
            float: left;
        }

        .description {
            padding-top: 20px;
            float: left;
            font-size: 14px;
            font-weight: 500;
        }

        .userName {
            font-size: 17px;
            float: left;
            line-height: 60px;
            padding: 8px 8px 8px 17px;
            font-weight: 900;
        }

        #main {
            background: url("https://auto-chess-box-1251720259.cos.ap-chengdu.myqcloud.com/WLP.png") no-repeat 0 -5px;
          /*  background: url("../../images/WLP.png") no-repeat 0 -5px;*/
            background-size: 100%;
            width: 78%;
            padding: 50% 11% 30% 11%;
            height: 449px;
        }

        .userDetail {
            background: white;
            height: 130px;
            width: 80%;
            border-radius: 5px;
            padding: 10%;
        }

        .jaru {
            border-radius: 5px;
            width: 100%;
            height: 40px;
            padding: 5px;
            margin-top: 140px;
            margin-bottom: 50px;
            float: left;
            text-decoration: none;
            font-weight: 400;
            font-size: 15px;
            -webkit-appearance:none;
            color: black;
            background:rgba(255,255,255,1);
            box-shadow:0px 2px 4px 0px rgba(8,1,57,0.30);
            border:1px solid rgb(68, 68, 75);
        }
    </style>
</head>
<body style="overflow: hidden;height: 100%">
<header class="top" style="position:relative">
    <div><img src="https://auto-chess-box-1251720259.cos.ap-chengdu.myqcloud.com/logoShare.png"
              style="height: 45px;font-weight: 800;"></div>
    <div style="margin-left: 2%">
        <ul>
            <li style="font-size: 19px">自走魔盒</li>
            <li style="color:#948b8b;font-size: 14px">最好的自走棋社区</li>
        </ul>
    </div>

    <div style="height: 35px;line-height: 35px;float: right;text-align: center"><a
            href="../downLoad/downLoad.html?type=yongHuFenXiang"
            class="btn b-blue">立即下载</a></div>
</header>
<div id="main">
    <div class="userDetail">
        <div class="userHeadPortrait">
            <img style="width: 100%" :src="result.userHeadPortrait"/>

        </div>
        <div class="userName">{{result.nickname}}</div>
        <div class="description">我的专属邀请码：<span id="inviteCode">{{result.inviteCode}}</span><a
                href="javascript:void (0)" onclick="copyInviteCode()" style="margin-left: 5px">复制</a></div>

    </div>
    <input class="jaru" type="button" value="立即加入" onclick="downLoad()">
</div>

</body>
<script>
    function downLoad() {
        window.location.href="../downLoad/downLoad.html?type=yongHuFenXiang";
    }

    function copyInviteCode() {
        const range = document.createRange();
        range.selectNode(document.getElementById('inviteCode'));
        const selection = window.getSelection();
        if (selection.rangeCount > 0) selection.removeAllRanges();
        selection.addRange(range);
        document.execCommand('copy');
        alert("复制成功！");
    }

    var app = new Vue({
        el: '#main',
        data: {
            result: {},
        },
        methods: {
            post: function (url, data) {
                return new Promise(function (resolve, reject) {
                    $.ajax({
                        type: 'GET',
                        url: url,
                        data: {'userId': data},
                        success: function (res) {
                            resolve(res);
                        }
                    })
                });
            }
        },
        created() {
            var _this = this;
            this.post('https://xiaoyuanmohe.com/api/user/details', GetRequest()['userId']).then(function (res) {
                _this.result = res.result;
            });
        }
    });
</script>
</html>