<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta name="generator" content="Hexo 3.8.0">
    <script src="../../js/jquery-3.3.1.min.js"></script>
    <link rel="icon" href="https://auto-chess-box-1251720259.cos.ap-chengdu.myqcloud.com/logoShare.png"
          type="images/x-ico"/>
    <link rel="stylesheet" href="../../css/share.css"/>

    <title>自走魔盒</title>
    <script src="../../js/vue.min.js"></script>
    <meta charset="UTF-8">
    <title>自走魔盒，帮你吃鸡</title>
    <script type="text/javascript">
        function GetRequest() {
            var url = location.search;
            var theRequest = new Object();
            if (url.indexOf("?") != -1) {
                var str = url.substr(1);
                strs = str.split("&");
                for (var i = 0; i < strs.length; i++) {
                    theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
                }
            }
            return theRequest;
        }
    </script>
</head>
<body>
<header class="top" style="position:relative">
    <div><img src="https://auto-chess-box-1251720259.cos.ap-chengdu.myqcloud.com/logoShare.png"
              style="height: 45px;font-weight: 800;"></div>
    <div style="margin-left: 2%">
        <ul>
            <li style="font-size: 19px">自走魔盒</li>
            <li style="color:#948b8b;font-size: 14px">最好的自走棋社区</li>
        </ul>
    </div>
    <div style="height: 35px;line-height: 35px;float: right;text-align: center"><a
            href="../downLoad/downLoad.html?type=yongHuFenXiang"
            class="btn b-blue">立即下载</a></div>
</header>

<div class="body" id="main">
    <h2 class="title" id="title">{{result.title}}</h2>
    <div class="text-center">
        <video controls="controls" id="videoPlay" :src="result.videoUrl" width="90%">
        </video>
    </div>
</div>
<div class="bottom">
    <a href="javascript:void (0)"  onclick="downLoad()" class="button">查看更多自走棋攻略</a>
</div>
</body>
<script>
    function downLoad() {
        window.location.href="../downLoad/downLoad.html?type=TieZiFenXiang";
    }
    var app = new Vue({
        el: '#main',
        data: {
            result: {},
        },
        methods: {
            post: function (url, data) {
                return new Promise(function (resolve, reject) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {'dynamicId': data},
                        success: function (res) {
                            resolve(res);
                        }
                    })
                });
            }
        },
        created() {
            var _this = this;
            this.post('https://xiaoyuanmohe.com/api/dynamic/dynamic-details', GetRequest()['dynamicId']).then(function (res) {
                _this.result = res.result;
            });
        }
    });
</script>
</html>