<!doctype html>
<html class="x-admin-sm">
<script type="text/javascript" src="/js/common.js"></script>
<style>
    table {
        table-layout: fixed;
    }

    td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<body>
<div class="x-body" id="subject">
    <xblock>
        <button class="layui-btn" onclick="x_admin_show('新增','/console/prop/add',900,600,true)"><i
                class="layui-icon"></i>添加
        </button>
        <span class="x-right" style="line-height:40px">共有数据：<strong
        >{{msg.page.total}}</strong> 条</span>
    </xblock>
    <script type="text/javascript" src="/js/gameType.js"></script>
    <form class="layui-form">
        <table class="layui-table x-admin">
            <thead>
            <tr>
                <th style="width: 100px">道具id</th>
                <th style="width: 100px">道具名称</th>
                <th style="width: 100px">道具图片</th>
                <th style="width: 300px">道具详情</th>
                <th style="width: 200px">道具等级</th>
                <td>其他操作</td>
            </tr>
            </thead>
            <tbody>
            <tr v-for="v in msg.results">
                <td>{{v.id}}</td>
                <td>{{v.name}}</td>
                <td><img :src="v.pic"/></td>
                <td :title="v.details">{{v.details}}</td>
                <td style="overflow: visible;">
                    <select id="score" name="score" lay-filter="score" :propId="v.id">
                        <option value="95" :selected="v.score<101 & v.score>89">S级
                        </option>
                        <option value="85" :selected="v.score<90 & v.score>69">A级
                        </option>
                        <option value="65" :selected="v.score<70 & v.score>49">B级
                        </option>
                        <option value="45" :selected="v.score<50 & v.score>29">C级
                        </option>
                        <option value="25" :selected="v.score<30 & v.score>9">D级
                        </option>
                        <option value="5" :selected="v.score<10 & v.score>-1">E级
                        </option>
                    </select>
                </td>
                <td>
                    <a href="javascript:;" :propid="v.id"
                       onclick="x_admin_show('编辑','/console/prop/update?id='+getId(this),900,600,true)"
                       title="编辑">
                        <i class="layui-icon">&#xe642;</i>
                    </a>
                    <a href="javascript:;" :propid="v.id" onclick="del(this)" title="删除">
                        <i class="layui-icon margin">&#xe640;</i>
                    </a>
                </td>

            </tr>
            </tbody>
        </table>
    </form>
    <script type="text/javascript" src="/js/page.js"></script>
</div>
<script type="text/javascript">
    function getId(obj) {
        return $(obj).attr("propid");
    }

    function getGameType() {
        return $('input[name="gameType"]:checked').val();
    }


    layui.use('form', function () {
        var form = layui.form;
        form.on('radio(gameType)', function (data) {
            req(vm.msg.page.pageNum, data.value);
        });
    });

    function a() {
        layui.use('form', function () {
            var form = layui.form;
            form.render();
        });
    }

    function req(pageNum) {
        var gameType = $('input[name="gameType"]:checked').val();
        if (typeof gameType == "undefined") {
            gameType = 4;
        }
        var url = '/console/prop/list';
        var param = {'gameType': gameType, 'pageNum': pageNum};
        getReqApiPutCallBack(url, param, a);
    }

    $(function () {
        req(1);
    });

    function del(obj) {
        layer.confirm('确认要删除吗？', function (index) {
            $.ajax({
                async: false,    //表示请求是否异步处理
                type: "delete",    //请求类型
                url: "/console/prop/delete/" + getId(obj),//请求的 URL地址
                dataType: 'json',
                success: function (data) {
                    if (data.code == 200) {
                        req(vm.msg.page.pageNum, data.value);
                        layer.msg('已删除!', {icon: 1, time: 1000});
                    } else {
                        layer.msg("删除失败");
                    }
                },
                error: function (data) {
                    layer.msg("删除失败");
                }
            });

        });
    }

    layui.use('form', function () {
        var form = layui.form;
        form.on('select(score)', function (data) {
            var propId = $(data.elem).attr("propId");
            var score = data.elem.value;
            $.ajax({
                async: false,    //表示请求是否异步处理
                type: "PUT",    //请求类型
                url: "/console/prop/updateNotStuff",//请求的 URL地址
                dataType: "json",//返回的数据类型
                data: {"id": propId, "score": score},
                success: function (data) {
                    if (data.code == 200) {
                        console.info("成功");
                    } else {
                        layer.msg(data.message);
                    }
                },
                error: function (data) {
                    layer.msg("修改失败");
                }
            });
        });
    });


</script>
<script type="text/javascript" src="/js/applyUtils.js"></script>
</body>

</html>