<!doctype html>
<html class="x-admin-sm">
<script type="text/javascript" src="/js/common.js"></script>
<style>
    .layui-form-checkbox span {
        width: 95px;
    }
</style>
<body>
<input id="uploadImage" style="display: none;"
       type="file"/>
<div v-if="msg.result!=null" class="x-body" id="subject">
    <form class="layui-form" id="form">
        <div class="layui-form-item">
            <label class="layui-form-label" for="name">
                <span class="x-red">*</span>道具名称
            </label>
            <div class="layui-input-inline" style="width: 70%">
                <input class="layui-input" id="name" :value="msg.result.name"
                       name="name" type="text">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                <label  for="uploadImage" class="layui-btn layui-btn-normal">上传道具图片</label>
                <input id="pic" name="pic" type="hidden" :value="msg.result.pic">

            </label>
            <div class="layui-input-inline" style="width: 70%">
                <img id="image" :src="msg.result.pic">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="details">
                道具详情
            </label>
            <div class="layui-input-inline" style="width: 70%">
                <input class="layui-input" id="details"
                       name="details" type="text" :value="msg.result.details">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="x-red">*</span>所需材料
            </label>
            <div class="layui-input-inline" style="width: 70%;padding: 1%;">
                <input v-for="p in msg.result.propConsoleSimplyList" type="checkbox" name="stuff" :value="p.id"
                       :title="p.name" :checked="p.flag">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
            </label>
            <input class="layui-btn layui-btn-normal" onclick="update()" style="width: 30%" type="button"
                   value="提交"/>
        </div>
        <input id="gameType" type="hidden" name="gameType">
        <input id="id" type="hidden" name="id" :value="msg.result.propId">
    </form>
</div>
<script src="/js/cos-js-sdk-v5.js" type="text/javascript"></script>
<script src="/js/uploadFile.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/applyUtils.js"></script>
<script type="text/javascript">
    $("#uploadImage").on('change', function () {
        var file = this.files[0];
        uploadFile(file, image);
    });
    function image(url) {
        $("#image").attr("src", url);
        $("#pic").val(url);
    }
    function update() {
        $("#gameType").val(parent.getGameType());
        $.ajax({
            async: false,    //表示请求是否异步处理
            type: "put",    //请求类型
            url: "/console/prop/update",//请求的 URL地址
            dataType: "json",//返回的数据类型
            data: $("#form").serialize(),
            success: function (data) {
                if (data.code == 200) {
                    //关闭当前frame
                    x_admin_close();
                    parent.req(parent.vm.msg.page.pageNum);
                    return false;
                } else {
                    layer.msg(data.message, {icon: 5, time: 1000});
                    return false;
                }
            },
            error: function (data) {
                layer.msg("请求异常", {icon: 5, time: 1000});
                return false;
            }
        });
    }

    getReqApiPutCallBack('/console/prop/details', {id: GetRequest()['id']}, function () {
        layui.use('form', function () {
            var form = layui.form;
            form.render();
        });
    });
</script>
</body>
</html>