<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment = "commonHead(title)">
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
    <meta content="webkit|ie-comp|ie-stand" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="no-siteapp" http-equiv="Cache-Control" />
    <link rel="icon" href="https://auto-chess-box-1251720259.cos.ap-chengdu.myqcloud.com/logoShare.png" type="images/x-ico"/>
    <link rel="stylesheet" th:href="@{/css/font.css}"  type="text/css"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"  type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <link rel="stylesheet" th:href="@{/css/current.css}">
</head>
</html>