<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment="page">
<div class="page" >
    <div>
        <a class="prev" href="javascript:void(0);" th:if="${pageResult.page.isFirstPage==false}"
           th:onclick="'page('+${pageResult.page.pageNum}+'-1)'"> 上一页</a>
        <a class="num" href="javascript:void(0);" th:if="${pageResult.page.isFirstPage==false}"
           th:onclick="'page(1)'" > 1</a>
        <a class="pageOn" href="javascript:void(0);" th:text="${pageResult.page.pageNum}"
           > 1</a>
        <a class="num" href="javascript:void(0);" th:if="${pageResult.page.isLastPage==false}"th:text="${pageResult.page.pages}"
           th:onclick="'page('+${pageResult.page.pages}+')'">99</a>
        <a class="next" href="javascript:void(0);" th:if="${pageResult.page.isLastPage==false}"
           th:onclick="'page('+${pageResult.page.pageNum}+'+1)'">下一页</a>
    </div>
</div>
</div>
</html>
