<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta name="generator" content="Hexo 3.8.0">
    <script src="../../js/jquery-3.3.1.min.js"></script>
    <link rel="icon" href="https://auto-chess-box-1251720259.cos.ap-chengdu.myqcloud.com/logoShare.png"
          type="images/x-ico"/>
    <link rel="stylesheet" href="../../css/share.css"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>自走魔盒</title>
    <script src="../../js/vue.min.js"></script>
    <meta charset="UTF-8">
    <title>自走魔盒，帮你吃鸡</title>
    <script type="text/javascript">
        function GetRequest() {
            var url = location.search;
            var theRequest = new Object();
            if (url.indexOf("?") != -1) {
                var str = url.substr(1);
                strs = str.split("&");
                for (var i = 0; i < strs.length; i++) {
                    theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
                }
            }
            return theRequest;
        }
    </script>
</head>
<body>
<header class="top">
    <div><img src="https://auto-chess-box-1251720259.cos.ap-chengdu.myqcloud.com/logoShare.png"
              style="height: 45px;font-weight: 800;"></div>
    <div style="margin-left: 2%">
        <ul>
            <li style="font-size: 19px">自走魔盒</li>
            <li style="color:#948b8b;font-size: 14px">最好的自走棋社区</li>
        </ul>
    </div>

    <div style="height: 35px;line-height: 35px;float: right;text-align: center"><a
            href="../downLoad/downLoad.html?type=xuYuanFenXiang"
            class="btn b-blue">立即下载</a></div>
</header>
<div class="content" id="lottery">
    <div style="text-align: center">
        <img style="max-width: 70%;border-radius:6px;" :src="result.giftPicUrl"/>
        <div class="name">{{result.giftName}}</div>
        <div class="description">{{result.giftDescription}}</div>
        <div style="padding: 35px">
            <a href="../downLoad/downLoad.html?type=xuYuanFenXiang" style="padding:5px 30px;font-size: 20px "
               class="btn b-red">立即领取</a>
        </div>
    </div>
    <div style="background: rgb(249, 249, 249); padding: 2%;position: absolute;width: 96%;bottom: 0px;">
        <div style="text-align: center;padding-bottom: 5px">活动规则</div>
        <p>1.分享到微信群,朋友圈给，QQ群(微信群，QQ群需要10人以上</p>
        <p> 2.分享到魔盒用户群无效</p>
        <p> 3.必须上传分享成功截图才能增加中奖概率</p>
        <p> 4.禁止以脚本，外挂等作弊行为</p>
        <p> 5.活动最终解释权归属自走魔盒</p>
    </div>
</div>

</body>
<script>
    var app = new Vue({
        el: '#lottery',
        data: {
            result: {},
        },
        methods: {
            post: function (url, data) {
                return new Promise(function (resolve, reject) {
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {'id': data},
                        success: function (res) {
                            resolve(res);
                        }
                    })
                });
            }
        },
        created() {
            var _this = this;
            this.post('https://xiaoyuanmohe.com/api/wish/lottery', GetRequest()['id']).then(function (res) {
                _this.result = res.result;
            });
        }
    });
</script>
</html>