<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html class="x-admin-sm">
<head th:include="commom/header :: commonHead('用户列表')"></head>
<script type="text/javascript" src="/js/common.js"></script>
<style>
    table {
        table-layout: fixed;
    }

    td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }

    .margin {
        margin: 0 5px;
    }

    .head input[type=text] {
        width: 36%;
        float: left;
    }

    .userTitle {
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        background: #9c7fe4;
        margin: 5px;
        color: white;
        border: none;
    }

    .disabled {
        background: #c3c3c3;
    }

    .disabled:hover {
        background: #c3c3c3 !important;
    }

    .userTitle:hover {
        background: #8c0df7;
    }
</style>
<body>
<div class="x-body">
    <form style="float: left" class="layui-form">
        <div class="head">
            <input autocomplete="off" class="layui-input" th:value="${nickname}" name="nickname"
                   placeholder="请输入用户昵称" type="text" id="nickname">
            <input autocomplete="off" class="layui-input" th:value="${userId}" name="userId"
                   placeholder="请输入用户ID" type="text" id="userId">
            <button class="layui-btn" lay-filter="sreach" lay-submit=""><i class="layui-icon">&#xe615;</i>
            </button>
            <span class="x-right" style="line-height:40px">共有数据：<strong
                    th:text="${pageResult.page.total}"></strong> 条</span>
        </div>
    </form>
    <table class="layui-table x-admin layui-form">
        <thead>
        <tr>
            <th style="width: 80px">用户ID</th>
            <th style="width: 300px">用户昵称</th>
            <th>用户头像</th>
            <th style="width: 400px;text-align: center">其他操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="giveTitle:${pageResult.results}">
            <td th:title="${giveTitle.userId}" th:text="${giveTitle.userId}"></td>
            <td th:title="${giveTitle.nickname}" th:text="${giveTitle.nickname}"></td>
            <td><img th:src="${giveTitle.userHeadPortrait}"></td>
            <td>
                <input th:onclick="'fj('+${giveTitle.userId}+',this)'" type="button"
                       class="layui-btn layui-btn-sm layui-btn-radius layui-btn-normal"
                       value="封禁用户" id="fj"/>
                <input th:onclick="'jc('+${giveTitle.userId}+',this)'" type="button"
                       class="layui-btn layui-btn-sm layui-btn-radius layui-btn-normal"
                       value="解除封禁" id="jc"/>
                <input th:onclick="'giveCalory('+${giveTitle.userId}+',this)'" type="button"
                       class="layui-btn layui-btn-sm layui-btn-radius layui-btn-normal"
                       value="赠送卡路里" id="giveCalory"/>
                <input th:onclick="'giveTitle('+${giveTitle.userId}+',this)'" type="button"
                       class="layui-btn layui-btn-sm layui-btn-radius layui-btn-normal"
                       value="赠送称号" id="giveTitle"/>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:include="commom/page :: page"></div>
    <div id="apply" style="display: none">
        <div id="subject"><input v-for="v in msg.results" type="button" onclick="titleApi(this)" class="userTitle"
                                 :class="{disabled:v.flag}" :value="v.name" :userId="v.userId"
                                 :ornamentid="v.id" :disabled="v.flag"></div>
    </div>
    <div id="giveC" style="width:400px;display: none">
        <div style="padding: 10px; text-align: center;">
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red">*</span>获取途径
                </label>
                <div class="layui-input-inline">
                    <input class="layui-input"
                           name="title" type="text" placeholder="如:许愿池中奖">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="x-red">*</span>数量
                </label>
                <div class="layui-input-inline">
                    <input class="layui-input"
                           name="num" type="text" placeholder="填卡路里数值,最多不超过1000">
                </div>
            </div>
            <input class="layui-btn layui-btn-normal" onclick="givCaloryReq(this)" type="button"
                   value="提交" style="width: 116px"/>
        </div>
    </div>
</div>
<span th:include="commom/footer :: commonOnLoadJs"></span>
<script>
    function page(pageNum) {
        var nickname = $("#nickname").val();
        var userId = $("#userId").val();
        window.location.href = "/console/user/list?pageNum=" + pageNum + "&nickname=" + nickname + "&userId=" + userId;
    }

    function giveCalory(userId, obj) {
        var content = $("#giveC").html();
        var idText = "<input type='hidden' value=" + userId + " name='userId'>";
        layer.open({
            title: "赠送卡路里",
            type: 1,
            skin: 'layui-layer-rim', //加上边框
            area: ['420px', '240px'], //宽高
            content: content + idText
        });

    }

    function fj(userId) {
        $.ajax({
            async: false,    //表示请求是否异步处理
            type: "post",    //请求类型
            url: "/power/remove-user-power",//请求的 URL地址
            data: JSON.stringify({"userId": userId, "key": "xiaoyuan"}),
            dataType: "json",//返回的数据类型
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data.code == "200") {
                    layer.msg('封禁成功', {icon: 1, time: 1000});
                } else {
                    layer.msg(data.message);
                }
            },
            error: function (data) {
                layer.msg(data.result);
            }
        });
    }

    function jc(userId) {
        $.ajax({
            async: false,    //表示请求是否异步处理
            type: "post",    //请求类型
            url: "/power/add-user-power",//请求的 URL地址
            data: JSON.stringify({"userId": userId, "key": "xiaoyuan"}),
            contentType: "application/json; charset=utf-8",
            dataType: "json",//返回的数据类型
            success: function (data) {
                if (data.code == "200") {
                    layer.msg('解封成功', {icon: 1, time: 1000});
                } else {
                    layer.msg(data.message);
                }
            },
            error: function (data) {
                layer.msg(data.result);
            }
        });
    }

    function givCaloryReq(obj) {
        var title = $(obj).parent('div').find('input[name=title]').val();
        var num = $(obj).parent('div').find('input[name=num]').val();
        var userId = $(obj).parent("div").parent('div').find('input[name=userId]').val();
        layer.confirm('确定赠送【' + num + '】卡路里给ID为【' + userId + '】的用户吗？', function (index) {
            $.ajax({
                async: false,    //表示请求是否异步处理
                type: "post",    //请求类型
                url: "/console/internalCall/giveCalory",//请求的 URL地址
                data: {"userId": userId, "num": num, "title": title},
                dataType: "json",//返回的数据类型
                success: function (data) {
                    if (data.code == "200") {
                        layer.msg('赠送卡路里成功', {icon: 1, time: 1000});
                    } else {
                        layer.msg(data.message);
                    }
                },
                error: function (data) {
                    layer.msg(data.result);
                }
            });
        });
    }

    function giveTitle(userId, obj) {
        var url = '/console/ornament/userOrnament';
        var param = {'userId': userId};
        getReqApiPutCallBack(url, param, f);

    }

    function f() {
        var content = $("#apply").html();
        //页面层
        layer.open({
            title: "赠送称号",
            type: 1,
            skin: 'layui-layer-rim', //加上边框
            area: ['420px', '240px'], //宽高
            content: content
        });
    }


    function titleApi(obj) {
        var userId = $(obj).attr("userId");
        var ornamentId = $(obj).attr("ornamentid");
        var name = $(obj).val();
        layer.confirm('确定赠送【' + name + '】给ID为【' + userId + '】的用户吗？', function (index) {
            $.ajax({
                async: false,    //表示请求是否异步处理
                type: "post",    //请求类型
                url: "/console/internalCall/giveTheOrnament",//请求的 URL地址
                data: {"userId": userId, "ornamentId": ornamentId},
                dataType: "json",//返回的数据类型
                success: function (data) {
                    if (data.code == "200") {
                        $(obj).attr("disabled", "disabled");
                        $(obj).addClass("disabled");
                        layer.msg('赠送称号成功', {icon: 1, time: 1000});
                    } else {
                        layer.msg(data.message);
                    }
                },
                error: function (data) {
                    layer.msg(data.result);
                }
            });
        });
    }
</script>
<script type="text/javascript" src="/js/applyUtils.js"></script>
</body>

</html>