.pageOn {
    color: rgb(255, 255, 255) !important;
    background: rgb(0, 150, 136) !important;;
    border-color: rgb(0, 150, 136) !important;;
}

.head {
    float: left;
    padding: 3px;
    width: 500px;
}

.head input[type=text] {
    width: 70%;
    float: left;
}