* {
    margin: 0;
    padding: 0;
    list-style: none;

}

.top {
    position: fixed;
    height: 40px;
    padding: 10px 3%;
    width: 94%;
    background: white;
    -webkit-box-shadow: 0 2px 3px 0 #bdbdc3;
    -moz-box-shadow: 0 2px 3px 0 #bdbdc3;
    box-shadow: 0 2px 3px 0 #bdbdc3;
}

.bottom {
    height: 35px;
    padding: 2%;
    width: 96%;
    background: white;
    border-top: 1px #f8f8f8 solid;
    text-align: center;
    margin-top: 15px;
}

.top div {
    float: left;
}

.title {
    padding: 2%;
    float: left;
    margin-top: 70px;
    text-align: center;
    width: 96%;
    color: #4B4E51;
    text-align: left;
}

.button {
    width: 90%;
    display: inline-block;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 35px;
    line-height: 35px;
    background-color: #1E9FFF;
    text-decoration: none;
}

.text-center {
    text-align: center
}


.body {
    width: 94%;
    padding: 0 3%;
    background: #fbfbfb;
    letter-spacing: 1px;
    line-height: 27px;
    font-size: 16px;
}


.content {
    width: 100%;
    letter-spacing: 1px;
    line-height: 27px;
    font-size: 16px;
    float: left;
    margin-top:90px ;
}

.body p {
    padding-top: 10px;
}


.btn {
    display: inline-block;
    line-height: 35px;
    padding: 0 18px;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.b-red{
    background: red;
}
.b-blue {
    background-color: #4598F9;
}
.name{
    font-size: 20px;
    padding: 12px;
}