<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html class="x-admin-sm">
<head th:include="commom/header :: commonHead('添加题目')"></head>
<head>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/summernote/summernote.css}" rel="stylesheet">
</head>
<head>
    <style>
        .ui-upload {
            height: 30px;
            width: 80px;
            background-color: #00abff;
            font-size: 14px;
            line-height: 30px;
            cursor: pointer;
            display: inline-block;
            text-align: center;
            color: #fff;
            border-radius: 3px;
            margin-left: 20px;
        }

        .w-e-menu {
            z-index: 2 !important;
        }

        .w-e-text-container {
            z-index: 1 !important;
        }


        .layui-form-label {
            width: 108px;
        !important;
        }

        .note-editor {
            white-space: normal;
            word-break: break-all;
        }

        .note-editor ol {
            float: none;
            width: auto;
            list-style-type: decimal;
            padding: 0 20px;
        }

        .note-editor ol li {
            float: none;
            width: auto;
            line-height: normal;
            overflow: visible;
            list-style-type: decimal;
            list-style: decimal;
            white-space: normal;
        }

        .note-editor ul {
            float: none;
            width: auto;
            list-style-type: disc;
            padding: 0 20px;
        }

        .note-editor ul li {
            float: none;
            width: auto;
            line-height: normal;
            overflow: visible;
            list-style-type: disc;
            list-style: disc;
            white-space: normal;
        }
    </style>
</head>
<body>
<div class="x-body">
    <form class="layui-form" id="form">
        <input id="content" name="content" type="hidden">
        <input id="mediaType" name="mediaType" type="hidden">
        <input id="imgList" name="imgList" type="hidden">
        <div class="layui-form-item">
            <label class="layui-form-label" for="title">
                <span class="x-red">*</span>讯息标题
            </label>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
            </label>
            <input class="layui-btn layui-btn-normal" onclick="addInf()" style="width: 30%" type="button"
                   value="提交"/>
        </div>
    </form>
</div>
<!-- 注意， 只需要引用 JS，无需引用任何 CSS ！！！-->
<span th:include="commom/footer :: commonOnLoadJs"></span>
<script th:src="@{/js/cos-js-sdk-v5.js}" type="text/javascript"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/summernote/summernote.js}"></script>
<script th:src="@{/summernote/lang/summernote-zh-CN.js}" type="text/javascript"></script>
<script th:src="@{/js/uploadFile.js}" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
<script type="text/javascript">


    function addInf() {
        var flag = $("#video").is(".layui-this");
        if (flag) {
            $("#content").val($("#videoContent").val());
            $("#mediaType").val("1");
        } else {
            var content = $('#summernote').summernote('code');
            $("#content").val(content);
            $("#videoLinkUrl").val("");
            $("#mediaType").val(0);
            var imgReg = /<img.*?(?:>|\/>)/gi;
            var srcReg = /src=[\'\"]?([^\'\"]*)[\'\"]?/i;
            var arr = content.match(imgReg);

            var imgList = "";
            if (arr != null) {
                for (var i = 0; i < arr.length; i++) {
                    if (i > 8) {
                        break;
                    }
                    var src = arr[i].match(srcReg);
                    imgList = imgList + src[1] + ",";
                }
                $("#imgList").val(imgList);
            }
        }
        $.ajax({
            async: false,    //表示请求是否异步处理
            type: "post",    //请求类型
            url: "/console/message/message-add",//请求的 URL地址
            dataType: "json",//返回的数据类型
            data: $("#form").serialize(),
            success: function (data) {
                if (data.code == 200) {
                    //关闭当前frame
                    x_admin_close();
                    // 可以对父窗口进行刷新
                    x_admin_father_reload();
                    return false;
                } else {
                    layer.msg(data.message, {icon: 5, time: 1000});
                    return false;
                }
            },
            error: function (data) {
                layer.alert("请求异常", {icon: 5}, function () {
                    //关闭当前frame
                    x_admin_close();
                    // 可以对父窗口进行刷新
                    x_admin_father_reload();
                });
                return false;
            }
        });
    }

</script>
</body>
</html>