<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html class="x-admin-sm">
<head th:include="commom/header :: commonHead('后台管理系统')"></head>
<body>
<!-- 顶部开始 -->
<div class="container">
    <div class="logo"><a href="/console/console-main">答题有鸡蛋后台管理</a>
    </div>
    <input type="hidden" th:value="${ip}">
    <div class="left_open">
        <i class="iconfont" title="展开左侧栏">&#xe699;</i>
    </div>
    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;" th:text="${session.admin.name}"></a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
            </dl>
        </li>
        <li class="layui-nav-item to-index"><a href="javascript:void(0);" onclick="exitLogin()">退出登录</a></li>
    </ul>

</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<!-- 左侧菜单开始 -->
<div class="left-nav" style="height: 92%">
    <div id="side-nav">
        <ul id="nav">
            <li>
                <a href="javascript:;">
                    <i class="layui-icon">&#xe705;</i>
                    <cite>文章视频管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li date-refresh="1">
                        <a _href="/console/message/message-list-page">
                            <cite>资讯管理</cite>
                        </a>
                    </li>
                    <li date-refresh="2">
                        <a _href="/console/slidePicture/slidePicture-list-page">
                            <cite>轮播图管理</cite>
                        </a>
                    </li>
                </ul>
            </li>
            <li date-refresh="1">
                <a _href="/console/quiz/quiz-list-page">
                    <cite>题库</cite>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="layui-icon">&#xe770;</i>
                    <cite>社区管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="layui-icon">&#xe66f;</i>
                    <cite>用户管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="/console/user/list">
                            <cite>用户列表</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="/console/ornament/listPage">
                            <cite>饰品列表</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="/console/report/list/page">
                            <cite>举报统计</cite>
                        </a>
                    </li>
                </ul>
            </li>

            <!--<li>-->
                <!--<a href="javascript:;">-->
                    <!--<i class="layui-icon">&#xe735;</i>-->
                    <!--<cite>达人榜</cite>-->
                    <!--<i class="iconfont nav_right">&#xe697;</i>-->
                <!--</a>-->
                <!--<ul class="sub-menu">-->
                    <!--<li>-->
                        <!--<a _href="/console/talent/list/page">-->
                            <!--<cite>达人榜</cite>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a _href="/console/talent/applyForList/page">-->
                            <!--<cite>达人申请列表</cite>-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</li>-->
            <li>
                <a href="javascript:;">
                    <i class="layui-icon">&#xe653;</i>
                    <cite>杂项</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="/api/download/downLoadStat">
                            <cite>下载统计</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="/console/SDK/main">
                            <cite>SDK管理</cite>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- <div class="x-slide_left"></div> -->
<!-- 左侧菜单结束 -->
<!-- 右侧主体开始 -->
<div class="page-content" style="height: 92%">
    <div class="layui-tab tab" lay-allowclose="false" lay-filter="xbs_tab">
        <ul class="layui-tab-title">
            <li class="home"><i class="layui-icon">&#xe68e;</i>我的桌面</li>
        </ul>
        <div class="layui-unselect layui-form-select layui-form-selected" id="tab_right">
            <dl>
                <dd data-type="this">关闭当前</dd>
                <dd data-type="other">关闭其它</dd>
                <dd data-type="all">关闭全部</dd>
            </dl>
        </div>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe class="x-iframe" frameborder="0" scrolling="yes" th:src='@{/main/welcome}'></iframe>
            </div>
        </div>
        <div id="tab_show"></div>
    </div>
</div>
<span th:include="commom/footer :: commonOnLoadJs"></span>
<script th:src="@{/js/jquery.cookie.js}"></script>

<script>
    function exitLogin() {
        $.cookie("name", null);
        $.cookie("$password", null);
        $.cookie("isCookie", null);
        window.location.href = "/admin/outLogin"
    }
</script>
</body>
</html>