<!doctype html>
<html class="x-admin-sm">
<script type="text/javascript" src="/js/common.js"></script>
<style>
    table {
        table-layout: fixed;
    }

    td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<body>
<div class="x-body" id="subject">
    <xblock>
        <button class="layui-btn" onclick="x_admin_show('新增','/console/ornament/addPage',900,600,true)"><i
                class="layui-icon"></i>添加
        </button>
        <span class="x-right" style="line-height:40px">共有数据：<strong
        >{{msg.page.total}}</strong> 条</span>
    </xblock>
    <table class="layui-table x-admin">
        <thead>
        <tr>
            <th style="width: 50px">饰品ID</th>
            <th style="width: 70px">饰品名称</th>
            <th style="width: 100px">饰品图片</th>
            <th style="width: 300px">饰品详情</th>
            <th style="width: 70px">饰品类型</th>
            <th style="width: 70px">消耗卡路里</th>
            <th style="width: 70px">库存</th>
            <td>其他操作</td>
        </tr>
        </thead>
        <tbody>
        <tr v-for="v in msg.results">
            <td>{{v.id}}</td>
            <td>{{v.name}}</td>
            <td><img :src="v.ico"/></td>
            <td :title="v.details">{{v.details}}</td>
            <td>{{v.ornamentType}}</td>
            <td>{{v.calorie}}</td>
            <td>{{v.stock}}</td>
            <td>
                <a href="javascript:;" :propid="v.id"
                   onclick="x_admin_show('编辑','/console/ornament/updatePage?id='+getId(this),900,600,true)"
                   title="编辑">
                    <i class="layui-icon">&#xe642;</i>
                </a>
            </td>

        </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript">
    function getId(obj) {
        return $(obj).attr("propid");
    }
    function getGameType() {
        return  $('input[name="gameType"]:checked').val();
    }
    layui.use('form', function () {
        var form = layui.form;
        form.on('radio(gameType)', function (data) {
            req(vm.msg.page.pageNum,data.value);
        });
    });
    function req()  {
        var url = '/console/ornament/listData';
        var param = {};
        getReqApi(url,param);
    }
    $(function () {
        req(1);
    });

    function del(obj) {
        layer.confirm('确认要删除吗？', function (index) {
            $.ajax({
                async: false,    //表示请求是否异步处理
                type: "delete",    //请求类型
                url: "/console/prop/delete/"+getId(obj),//请求的 URL地址
                dataType: 'json',
                success: function (data) {
                    if (data.code == 200) {
                        req(vm.msg.page.pageNum,data.value);
                        layer.msg('已删除!', {icon: 1, time: 1000});
                    } else {
                        layer.msg("删除失败");
                    }
                },
                error: function (data) {
                    layer.msg("删除失败");
                }
            });

        });
    }

</script>
<script type="text/javascript" src="/js/applyUtils.js"></script>
</body>

</html>