<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html class="x-admin-sm">
<head th:include="commom/header :: commonHead('添加轮播图')"></head>
<head>
    <style>
        .ui-upload {
            height: 30px;
            width: 80px;
            background-color: #00abff;
            font-size: 14px;
            line-height: 30px;
            cursor: pointer;
            display: inline-block;
            text-align: center;
            color: #fff;
            border-radius: 3px;
            margin-left: 20px;
        }
        </style>
</head>
<body>
<div class="x-body">
    <form class="layui-form" id="form">
        <div class="layui-form-item">
            <label class="layui-form-label" for="name">
                <span class="x-red">*</span>轮播图名称
            </label>
            <div class="layui-input-inline" style="width: 70%">
                <input class="layui-input" id="name" lay-verify="required" name="name"
                       type="text">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="uploadImage">
                <label class="ui-upload">上传轮播图图片<input id="uploadImage" style="display: none;" type="file" /></label>
            </label>
            <div class="layui-input-inline" style="width: 70%">
                <img id="image" src="" >
                <input id="path" name="path" type="hidden">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="sort">
                <span class="x-red">*</span>轮播图排序
            </label>
            <div class="layui-input-inline" style="width: 70%">
                <input class="layui-input" id="sort" lay-verify="required" name="sort"
                       required="" type="text">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="sort">
                <span class="x-red">*</span>关联的讯息
            </label>
            <div class="layui-input-inline" style="width: 70%">
                <select id="linkMessageId" lay-verify="" name="linkMessageId" lay-search>
                    <option  th:each="message:${messages}" th:text="'讯息Id:'+${message.messageId}+'讯息标题:'+${message.title}" th:value="${message.messageId}"></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="actionType">
                <span class="x-red">*</span>跳转行为类型
            </label>
            <div class="layui-input-block">
                <select id="actionType" name="actionType">
                    <option value="0">打开资讯详情</option>
                    <option value="1">用内置浏览器打开url</option>
                    <option value="2">用外部浏览器打开url</option>
                    <option value="3">用淘宝打开url</option>
                    <option value="4">用斗鱼打开url</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="forwardUrl">
                跳转地址
            </label>
            <div class="layui-input-inline" style="width: 70%">
                <input class="layui-input" id="forwardUrl"
                       name="forwardUrl" type="text">
                <span class="x-red" style="color: red">*</span>如果行为类型为打开资讯详情则不需要填此项
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="x-red">*</span>是否启用
            </label>
            <div class="layui-input-block">
                <input  checked="true" id="isCurrentUse" lay-skin="switch"lay-text="是|否"   name="isCurrentUse"  type="checkbox">
            </div>
        </div>
        <div class="layui-form-item">
            <label  class="layui-form-label">
            </label>
            <input class="layui-btn layui-btn-normal" onclick="addSlidePicture()" style="width: 30%" type="button" value="提交"/>
        </div>
    </form>
</div>
<!-- 注意， 只需要引用 JS，无需引用任何 CSS ！！！-->
<span th:include="commom/footer :: commonOnLoadJs"></span>
<script th:src="@{/js/cos-js-sdk-v5.js}" type="text/javascript"></script>
<script th:src="@{/js/uploadFile.js}" type="text/javascript"></script>
<script type="text/javascript">
    layui.use('form', function () {
        var form = layui.form;
        // form.on('switch(isRecommend)', function (data) {
        //     $("#isRecommend").val(data.elem.checked)  //开关value值，也可以通过data.elem.value得到
        // });
    });

    // 监听选文件
    $("#uploadImage").on('change',function () {
        var file = this.files[0];
        uploadFile(file,image);
    });
    function image(url) {
        $("#image").attr("src",url);
        $("#path").val(url);
    }

    function addSlidePicture(){
        $.ajax({
            async : false,    //表示请求是否异步处理
            type : "post",    //请求类型
            url : "/api/slidePicture/console/add-slide-picture",//请求的 URL地址
            dataType : "json",//返回的数据类型
            data:$("#form").serialize(),
            success: function (data) {
                if(data.code==200){
                        //关闭当前frame
                        x_admin_close();
                        // 可以对父窗口进行刷新
                        x_admin_father_reload();
                    return false;
                }else{
                    layer.msg(data.message, {icon: 5, time: 1000});
                    return false;
                }
            },
            error: function (data) {
                layer.msg("请求异常", {icon: 5, time: 1000});
            }
        });
    }
</script>
</body>
</html>