<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html class="x-admin-sm">
<head th:include="commom/header :: commonHead('讯息管理')"></head>
<style>
    table {
        table-layout: fixed;
    }

    td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }

    .margin {
        margin: 0 5px;
    }

</style>
<body>
<div class="x-body">
    <div class="head" style="width: 30%">
        <button class="layui-btn" onclick="x_admin_show('添加讯息','/console/message/add-message-page',900,600,true)"><i
                class="layui-icon"></i>添加
        </button>
    </div>
    <form style="float: left" class="layui-form">
        <div style="float: left; padding: 3px; width: 150px;">
            <select id="audit" name="audit">
                <option value="1" th:selected="${audit==1?true:false}">审核通过</option>
                <option value="2" th:selected="${audit==2?true:false}">审核未通过</option>
                <option value="0" th:selected="${audit==0?true:false}">未审核</option>
            </select>
        </div>
        <div class="head">

            <input autocomplete="off" class="layui-input" th:value="${title}" name="title"
                   placeholder="请输入讯息标题" type="text" id="title">
            <button class="layui-btn" lay-filter="sreach" lay-submit=""><i class="layui-icon">&#xe615;</i>
            </button>
            <span class="x-right" style="line-height:40px">共有数据：<strong
                    th:text="${pageResult.page.total}"></strong> 条</span>
        </div>
    </form>
    <table class="layui-table x-admin">
        <thead>
        <tr>
            <th style="width: 240px">标题</th>
            <th>优先级</th>
            <th>点赞数</th>
            <th>评论数</th>
            <th>阅读量</th>
            <th style="width: 96px">发布时间</th>
            <th>热门?</th>
            <th style="width: 100px">封面图</th>
            <th style="width: 110px">其他操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="message:${pageResult.results}">
            <td th:text="${message.title}" th:title="${message.title}"></td>
            <td th:text="${message.priority}"></td>
            <td th:text="${message.supports}"></td>
            <td th:text="${message.comments}"></td>
            <td th:text="${message.hits}"></td>
            <td th:text="${#dates.format(message.createTime, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${message.isHot?'是':'否'}"></td>
            <td><img style="width: 100%;" th:src="${message.pic}"></td>
            <td>
                <a href="javascript:;"
                   th:onclick="|x_admin_show('编辑','/console/message/message-update-page?messageId=${message.messageId}',900,600,true)|"
                   title="编辑">
                    <i class="layui-icon margin">&#xe642;</i>
                </a>
                <a href="javascript:;" th:onclick="'member_del(this,'+${message.messageId}+')'" title="删除">
                    <i class="layui-icon margin">&#xe640;</i>
                </a>
                <a href="javascript:;"
                   th:onclick="|x_admin_show('所有评论','/console/message/message-comment-list-page?messageId=${message.messageId}',900,600,true)|"
                   title="查看评论">
                    <i class="layui-icon margin">&#xe611;</i>
                </a>
                <a href="javascript:;"
                   th:onclick="|x_admin_show('推送消息','/console/message/push?id=${message.messageId}',900,600)|"
                   title="推送消息">
                    <i class="layui-icon margin">&#xe678;</i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:include="commom/page :: page"></div>
</div>
<span th:include="commom/footer :: commonOnLoadJs"></span>
<script>
    function page(pageNum) {
        var title = $("#title").val();
        var audit = $("#audit").val();
        window.location.href = "/console/message/message-list-page?pageNum=" + pageNum + "&title=" + title + "&audit=" + audit;
    }

    layui.use('laydate', function () {
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });
    });


    /*用户-删除*/
    function member_del(obj, id) {
        layer.confirm('确认要删除吗？', function (index) {
            $.ajax({
                async: false,    //表示请求是否异步处理
                type: "post",    //请求类型
                url: "/console/message/message-delete",//请求的 URL地址
                data: {"messageId": id},
                success: function (data) {
                    if (data.code == 200) {
                        $(obj).parents("tr").remove();
                        layer.msg('已删除!', {icon: 1, time: 1000});
                    } else {
                        layer.msg("删除失败");
                    }
                },
                error: function (data) {
                    layer.msg("删除失败");
                }
            });

        });
    }

    function delAll(argument) {

        var data = tableCheck.getData();

        layer.confirm('确认要删除吗？' + data, function (index) {


            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.templates.commom.header').parents('tr').remove();
        });
    }
</script>
</body>

</html>