<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html class="x-admin-sm">
<head th:include="commom/header :: commonHead('讯息评论管理')"></head>
<style>
    table {
        table-layout: fixed;
    }

    td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }

    .margin {
        margin: 0 5px;
    }

    .pageOn {
        color: rgb(255, 255, 255) !important;
        background: rgb(0, 150, 136) !important;;
        border-color: rgb(0, 150, 136) !important;;
    }
</style>
<body>
<div class="layui-row">
    <form action="/console/message/message-comment-list-page" style="text-align: center">
            <input autocomplete="off" class="layui-input" th:value="${content}" name="content"
                   placeholder="请输入评论内容" type="text">
            <input th:value="${messageId}" name="messageId" type="hidden">
            <button class="layui-btn" lay-filter="sreach" lay-submit=""><i class="layui-icon">&#xe615;</i>
            </button>
    </form>
</div>
<div th:if="${pageResult.page.total>0}">
    <xblock>
        <span class="x-right" style="line-height:40px">共有数据：<strong
                th:text="${pageResult.page.total}"></strong> 条</span>
    </xblock>
    <div class="x-body">
        <form class="layui-form" id="form">
            <table class="layui-table x-admin">
                <thead>
                <tr>
                    <th>评论内容</th>
                    <th>评论图片</th>
                    <th>点赞数</th>
                    <th>评论时间</th>
                    <th>是否精选</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="messageComment:${pageResult.results}">
                    <td th:text="${messageComment.commentContent}" th:title="${messageComment.commentContent}"></td>
                    <td><img th:each="url,starts:${messageComment.commentImageList}"
                             th:style="'width:'+${100/starts.count}+'%'" th:src="${url}"></td>
                    <td th:text="${messageComment.supports}"></td>
                    <td th:text="${#dates.format(messageComment.commentTime, 'yyyy-MM-dd HH:mm')}"  ></td>
                    <td>
                        <input id="isExcellent" lay-filter="isExcellent" lay-skin="switch" lay-text="是|否" name="yyy"
                               th:checked="${messageComment.isExcellent}" th:value="${messageComment.id}"
                               type="checkbox">
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
        <div th:include="commom/page :: page"></div>
    </div>
</div>
<div th:if="${pageResult.page.total<=0}"
     style="text-align: center;height: 500px;line-height: 500px;font-size: 50px;color: red">
    没有找到任何相关的评论
</div>
<span th:include="commom/footer :: commonOnLoadJs"></span>
<script>
    function page(pageNum) {
        var content = $('input[name="content"]').val();
        var messageId = $('input[name="messageId"]').val();
        window.location.href = "/console/message/message-comment-list-page?pageNum=" + pageNum + "&content=" + content+"&messageId="+messageId;
    }

    layui.use('form', function () {
        var form = layui.form;
        form.on('switch(isExcellent)', function (data) {
            var id = $(this).val();
            var sw = $(this);
            var swdata = data;
            $.ajax({
                async: false,    //表示请求是否异步处理
                type: "post",    //请求类型
                url: "/console/message/is-excellent",//请求的 URL地址
                dataType: "json",//返回的数据类型
                data: {"isExcellent": data.elem.checked, "id": id},
                success: function (data) {
                    if (data.code == 200) {
                        console.info(sw);
                    } else {
                        swdata.elem.checked = !swdata.elem.checked;
                        form.render();
                        layer.msg(data.message);
                    }
                },
                error: function (data) {
                    swdata.elem.checked = !swdata.elem.checked;
                    form.render();
                    layer.msg("修改失败");
                }
            });
        });
    });

    /*用户-删除*/
    function member_del(obj, id) {
        layer.confirm('确认要删除吗？', function (index) {
            $.ajax({
                async: false,    //表示请求是否异步处理
                type: "post",    //请求类型
                url: "/api/slidePicture/slide-picture-delete",//请求的 URL地址
                data: {"slidePictureId": id},
                success: function (data) {
                    if (data.code == 200) {
                        $(obj).parents("tr").remove();
                        layer.msg('已删除!', {icon: 1, time: 1000});
                    } else {
                        layer.msg("删除失败");
                    }
                },
                error: function (data) {
                    layer.msg("删除失败");
                }
            });

        });
    }


    function delAll(argument) {

        var data = tableCheck.getData();

        layer.confirm('确认要删除吗？' + data, function (index) {
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.templates.commom.header').parents('tr').remove();
        });
    }
</script>
<script>var _hmt = _hmt || [];
(function () {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
})();</script>
</body>

</html>