<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:include="commom/header :: commonHead('自走魔盒')"></head>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/share.css"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>自走魔盒</title>
</head>
<body>
<div class="top">
    <div><img src="/images/logo.png" style="height: 40px;font-weight: 800;"></div>

    <div style="margin-left: 2%">
        <ul>
            <li style="font-size: 19px">自走魔盒</li>
            <li style="color:#948b8b;font-size: 14px">最好的自走棋社区</li>
        </ul>
    </div>

    <div style="height: 35px;line-height: 35px;float: right;"><a
            href="/html/downLoad.html?type=zixunfenxiang"
            class="layui-btn layui-btn-normal">立即下载</a></div>
</div>

<div class="body">
    <h2 th:text="${message.title}" class="title" id="title"></h2>
    <div th:if="${mediaType==1}" class="text-center">
        <video controls="controls" id="videoPlay" th:src="${message.videoLinkUrl}" width="90%">
        </video>
        <div th:utext="${message.content}" style="padding: 1%">
        </div>
    </div>
    <div th:if="${mediaType==0}" th:utext="${message.content}" style="margin: 0 2%;width: 96%"></div>
</div>
<div class="bottom">
    <a href="/html/downLoad.html?type=zixunfenxiang" class="button">查看更多自走棋攻略</a>
</div>
<span th:include="commom/footer :: commonOnLoadJs"></span>
</body>
</html>