<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html class="x-admin-sm">
<head th:include="commom/header :: commonHead('轮播图管理')"></head>
<style>
    table {
        table-layout: fixed;
    }

    td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }
    .margin{
        margin:0 5px;
    }
</style>
<body>
<div class="x-body">
    <xblock>
        <button class="layui-btn" onclick="x_admin_show('添加轮播图','/console/slidePicture/add-slide-picture-page',900,600)"><i
                class="layui-icon"></i>添加
        </button>
    </xblock>
    <form class="layui-form" id="form">
    <table class="layui-table x-admin">
        <thead>
        <tr>
            <th style="width: 400px">轮播图名称</th>
            <th>轮播图图片</th>
            <th>轮播图顺序</th>
            <th width="110px">创建时间</th>
            <th>是否启用</th>
            <th>其他操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="slidePicture:${slidePictureList}">
            <td th:text="${slidePicture.name}"></td>
            <td><img style="width: 100%;" th:src="${slidePicture.path}"></td>
            <td th:text="${slidePicture.sort}"></td>
            <td th:text="${#dates.format(slidePicture.createTime, 'yyyy-MM-dd HH:mm')}" ></td>
            <td >
                <input id="categoryIdButton"  lay-filter="isCurrentUse"  lay-skin="switch" lay-text="是|否"  name="yyy" th:checked="${slidePicture.isCurrentUse}" th:value="${slidePicture.slidePictureId}"  type="checkbox">
            </td>
            <td>
                <a href="javascript:;" th:onclick="'member_del(this,'+${slidePicture.slidePictureId}+')'" title="删除">
                    <i class="layui-icon margin">&#xe640;</i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    </form>
</div>
<span th:include="commom/footer :: commonOnLoadJs"></span>
<script>
    layui.use('form', function () {
        var form = layui.form;
        form.on('switch(isCurrentUse)', function (data) {
            var id = $(this).val();
            var sw = $(this);
            var swdata = data;
            $.ajax({
                async: false,    //表示请求是否异步处理
                type: "post",    //请求类型
                url: "/console/slidePicture/is-current-use",//请求的 URL地址
                dataType: "json",//返回的数据类型
                data: {"isCurrentUse":data.elem.checked,"id":id},
                success: function (data) {
                    if (data.code == 200) {
                        console.info(sw);
                    } else {
                        swdata.elem.checked = !swdata.elem.checked;
                        form.render();
                        layer.msg(data.message);
                    }
                },
                error: function (data) {
                    swdata.elem.checked = !swdata.elem.checked;
                    form.render();
                    layer.msg("修改失败");
                }
            });
        });
    });

    /*用户-删除*/
    function member_del(obj, id) {
            layer.confirm('确认要删除吗？',function(index){
                $.ajax({
                    async: false,    //表示请求是否异步处理
                    type: "post",    //请求类型
                    url: "/console/slidePicture/slide-picture-delete",//请求的 URL地址
                    data: {"slidePictureId":id},
                    success: function (data) {
                        if (data.code == 200) {
                            $(obj).parents("tr").remove();
                            layer.msg('已删除!',{icon:1,time:1000});
                        } else {
                            layer.msg("删除失败");
                        }
                    },
                    error: function (data) {
                        layer.msg("删除失败");
                    }
                });

            });
    }


    function delAll(argument) {

        var data = tableCheck.getData();

        layer.confirm('确认要删除吗？' + data, function (index) {
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.templates.commom.header').parents('tr').remove();
        });
    }
</script>
<script>var _hmt = _hmt || [];
(function () {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
})();</script>
</body>

</html>