<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html class="x-admin-sm">
<head th:include="commom/header :: commonHead('修改讯息')"></head>
<head>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/summernote/summernote.css}" rel="stylesheet">
</head>
<head>
    <style>
        .ui-upload {
            height: 30px;
            width: 80px;
            background-color: #00abff;
            font-size: 14px;
            line-height: 30px;
            cursor: pointer;
            display: inline-block;
            text-align: center;
            color: #fff;
            border-radius: 3px;
            margin-left: 20px;
        }

        .w-e-menu {
            z-index: 2 !important;
        }

        .w-e-text-container {
            z-index: 1 !important;
        }

        .layui-form-label {
            width: 108px;
        !important;
        }

        .note-editor {
            white-space: normal;
            word-break: break-all;
        }

        .note-editor ol {
            float: none;
            width: auto;
            list-style-type: decimal;
            padding: 0 20px;
        }

        .note-editor ol li {
            float: none;
            width: auto;
            line-height: normal;
            overflow: visible;
            list-style-type: decimal;
            list-style: decimal;
            white-space: normal;
        }

        .note-editor ul {
            float: none;
            width: auto;
            list-style-type: disc;
            padding: 0 20px;
        }

        .note-editor ul li {
            float: none;
            width: auto;
            line-height: normal;
            overflow: visible;
            list-style-type: disc;
            list-style: disc;
            white-space: normal;
        }
    </style>
</head>
<body>
<div class="layui-tab" lay-filter="tab">
    <ul class="layui-tab-title">
        <li id="image-text" th:classappend="${message.mediaType==0}?'layui-this':''">图文</li>
        <li id="video" th:classappend="${message.mediaType==1}?'layui-this':''">视频</li>
    </ul>

</div>
<div class="x-body">
    <form class="layui-form" id="form">
        <input id="media" th:value="${message.mediaType}" type="hidden"/>
        <input id="isInsert" th:value="${isInsert}" type="hidden"/>
        <input id="messageId" name="messageId" th:value="${message.messageId}" type="hidden">
        <input id="content" name="content" type="hidden" th:value="${message.content}">
        <input id="imgList" name="imgList" type="hidden">
        <input id="mediaType" name="mediaType" type="hidden">
        <div class="layui-form-item">
            <label class="layui-form-label" for="title">
                <span class="x-red">*</span>讯息标题
            </label>
            <div class="layui-input-inline" style="width: 70%">
                <input class="layui-input" id="title"
                       name="title" th:value="${message.title}" type="text">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="priority">
                <span class="x-red">*</span>讯息优先级
            </label>
            <div class="layui-input-inline" style="width: 70%">
                <input class="layui-input" id="priority"
                       name="priority" th:value="${message.priority}" type="text">
                <span class="x-red" style="color: red">*</span>值为数字越大优先级越高
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="uiPattern">
                <span class="x-red">*UI模式：</span>
            </label>
            <div class="layui-input-inline" style="width: 70%">
                <input class="layui-input" id="uiPattern"
                       name="uiPattern" th:value="${message.uiPattern}" type="text">
                <span class="x-red" style="color: red">*</span>UI模式：填 1文章标题+简介+封面 2文章标题+第一张图片列表的大图 3文章标题+前三张图片列表的图片
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="uploadImage">
                <label class="layui-btn layui-btn-normal">上传封面图片<input id="uploadImage" style="display: none;"
                                                                       type="file"/></label>
                <input id="imageUrl" name="pic" th:value="${message.pic}" type="hidden">
            </label>
            <div class="layui-input-inline" style="width: 70%">
                <img id="image" th:src="${message.pic}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="isRecommend">
                <span class="x-red">*</span>是否推荐
            </label>
            <div class="layui-input-block">
                <input id="isRecommendButton" lay-filter="isRecommend" lay-skin="switch" lay-text="是|否"
                       th:checked="${message.isRecommend}"
                       type="checkbox">
                <input id="isRecommend" name="isRecommend" th:value="${message.isRecommend}" type="hidden">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="isRecommend">
                <span class="x-red">*</span>是否热门
            </label>
            <div class="layui-input-block">
                <input checked id="isHot" lay-filter="isHot" lay-skin="switch" lay-text="是|否" name="isHot"
                       th:checked="${message.isHot}" type="checkbox">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="type">
                <span class="x-red">*</span>分类
            </label>
            <div class="layui-input-block">
                <select id="type" lay-verify="" name="categoryId">
                    <option th:each="type:${categorys}" th:selected="${message.categoryId==type.messageCategoryId}"
                            th:text="${type.name}" th:value="${type.messageCategoryId}"></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="boardType">
                <span class="x-red">*</span>板块类型
            </label>
            <div class="layui-input-block">
                <select id="boardType" name="boardType">
                    <option th:each="topic:${topicTypes}" th:text="${topic.name}" th:value="${topic.id}"
                            th:selected="${message.boardType==topic.id?true:false}">综合
                    </option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="approveState">
                <span class="x-red">*</span>审核状态
            </label>
            <div class="layui-input-block">
                <select id="approveState" name="approveState">
                    <option value="1" th:selected="${message.approveState==1?true:false}">审核通过</option>
                    <option value="2" th:selected="${message.approveState==2?true:false}">审核未通过</option>
                    <option value="0" th:selected="${message.approveState==0?true:false}">未审核</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="actionType">
                <span class="x-red">*</span>跳转行为类型
            </label>
            <div class="layui-input-block">
                <select id="actionType" name="actionType">
                    <option value="0" th:selected="${message.actionType==0?true:false}">打开资讯详情</option>
                    <option value="1" th:selected="${message.actionType==1?true:false}">用内置浏览器打开url</option>
                    <option value="2" th:selected="${message.actionType==2?true:false}">用外部浏览器打开url</option>
                    <option value="3" th:selected="${message.actionType==3?true:false}">用淘宝打开url</option>
                    <option value="4" th:selected="${message.actionType==4?true:false}">用斗鱼打开url</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="forwardUrl">
                <span class="x-red">*</span>跳转地址
            </label>
            <div class="layui-input-inline" style="width: 70%">
                <input class="layui-input" id="forwardUrl"
                       name="forwardUrl" th:value="${message.forwardUrl}" type="text">
                <span class="x-red" style="color: red">*</span>如果行为类型为打开资讯详情则不需要填此项
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="userId">
                <span class="x-red">*</span>作者ID
            </label>
            <div class="layui-input-inline" style="width: 70%">
                <input class="layui-input" id="userId"
                       name="userId" th:value="${message.authorId}" type="text">
                <span class="x-red" style="color: red">*</span>先去用户管理下查找用户id然后填入id
            </div>
        </div>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div class="layui-form-item">
                    <label class="layui-form-label" for="briefIntroduction">
                        <span class="x-red">*</span>文章简介
                    </label>
                    <div class="layui-input-inline" style="width: 70%">
                           <textarea style="height: 120px;" class="layui-input" id="briefIntroduction"
                                     lay-verify="required"
                                     name="briefIntroduction" th:text="${message.briefIntroduction}"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" for="summernote">
                        <span class="x-red">*</span>文章内容
                    </label>
                    <div class="layui-input-inline" style="width: 80%">
                        <div id="summernote"></div>
                        <!--  <div id="editor">-->
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-tab-item">

            <div class="layui-form-item">
                <label class="layui-form-label" for="videoContent">
                    <span class="x-red">*</span>视频内容
                </label>
                <div class="layui-input-inline" style="width: 70%">
                           <textarea style="height: 120px;" class="layui-input" id="videoContent" lay-verify="required"
                                     name="videoContent"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" for="uploadVideo">
                    <label class="ui-upload">上传视频<input id="uploadVideo" style="display: none;"
                                                        type="file"/></label>
                    <input id="videoLinkUrl" name="videoLinkUrl" th:value="${message.videoLinkUrl}" type="hidden">
                </label>
                <div class="layui-input-inline" style="width: 70%">
                    <video controls="controls" id="videoPlay" th:src="${message.videoLinkUrl}" width="50%">
                    </video>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
            </label>
            <input th:if="${isInsert==null}" class="layui-btn" onclick="updateInf()" style="width: 30%" type="button"
                   value="提交修改"/>
            <input th:if="${isInsert==1}" class="layui-btn" onclick="updateInf()" style="width: 30%" type="button"
                   value="新增资讯"/>
        </div>
    </form>

</div>
<!-- 注意， 只需要引用 JS，无需引用任何 CSS ！！！-->
<span th:include="commom/footer :: commonOnLoadJs"></span>
<script th:src="@{/js/cos-js-sdk-v5.js}" type="text/javascript"></script>
<script th:src="@{/js/uploadFile.js}" type="text/javascript"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/summernote/summernote.min.js}"></script>
<script th:src="@{/summernote/lang/summernote-zh-CN.js}" type="text/javascript"></script>
<script th:inline="javascript" type="text/javascript">
    /*    var E = window.wangEditor;
        var editor = new E('#editor');
        editor.customConfig.customUploadImg = function (files, insert) {
            var a = uploadFile(files[0], insert);
        };
        editor.create();
        editor.customConfig.pasteFilterStyle = false;*/
    $('#summernote').summernote({
        lang: 'zh-CN',
        tabsize: 2,
        lineHeight: 1.5,
        toolbar: [
            ['style', ['style']],
            ['fontsize', ['fontsize']],
            ['style', ['bold', 'italic', 'underline', 'clear']],
            ['font', ['strikethrough', 'superscript', 'subscript']],
            ['height', ['height']],
            ['forecolor', ['forecolor']],
            ['backcolor', ['backcolor']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['insert', ['link', 'picture', 'video']],
            ['view', ['fullscreen', 'codeview']],
            ['fontname', ['fontname']],
            ['table', ['table']]
        ],
        height: 500,
        callbacks: {
            onImageUpload: function (files) { //the onImageUpload API
                uploadFile(files[0], f);
            },
            onPaste: function (event) {
                setTimeout(function () {
                    var str = $("#summernote").summernote('code');
                    //匹配图片（g表示匹配所有结果i表示区分大小写）
                    var imgReg = /<img.*?(?:>|\/>)/gi;
                    //匹配src属性
                    var srcReg = /src=[\'\"]?([^\'\"]*)[\'\"]?/i;
                    var arr = str.match(imgReg);
                    var regex2 = new RegExp("(i?)(\<img.*?style=['\"])([^\>]+\>)", "gmi");
                    var summernoteText = $("#summernote").summernote('code');
                    var endText = summernoteText.replace(regex2, "$2max-width:100%;$3");
                    $("#summernote").summernote('code', endText);
                    for (var i = 0; i < arr.length; i++) {
                        var src = arr[i].match(srcReg);
                        arr[i].replace(/<img [^>]*src=['"]([^'"]+)[^>]*>/gi, function (match, capture) {
                            var uploadApiUrl = 'http://94.191.38.87:8081/api/message/upload';
                            $.ajax({
                                async: true,    //表示请求是否异步处理
                                type: "post",    //请求类型
                                url: uploadApiUrl,//请求的 URL地址
                                dataType: "text",//返回的数据类型
                                data: {'url': capture},
                                success: function (data) {
                                    var codeText = $("#summernote").summernote('code');
                                    console.info(codeText);
                                    var lastText = codeText.replace(capture, data);
                                    console.info(lastText);
                                    console.info(capture);
                                    console.info(data);
                                    $("#summernote").summernote('code', lastText);
                                }
                            });
                        });
                    }
                }, 100);
            }
        }
    });
    $('#summernote').summernote('lineHeight', 1.5);

    function f(url) {
        $('#summernote').summernote('insertImage', url, function ($image) {
            $image.css('max-width', '100%');
        });
    }

    var contentText = $("#content").val();
    $(".layui-tab-item").removeClass("layui-show");
    if ($("#media").val() == 0) {
        /*       editor.txt.html(contentText);*/
        $('#summernote').summernote('code', contentText);
        $(".layui-tab-item").eq(0).addClass("layui-show");
    } else {
        $(".layui-tab-item").eq(1).addClass("layui-show");
        $("#videoContent").val(contentText)
    }


    layui.use('form', function () {
        var form = layui.form;
        form.on('switch(isRecommend)', function (data) {
            $("#isRecommend").val(data.elem.checked)  //开关value值，也可以通过data.elem.value得到
        });
    });

    layui.use('element', function () {
        var element = layui.element;
        //一些事件监听
        element.on('tab(tab)', function (data) {
            $(".layui-tab-item").removeClass("layui-show");
            $(".layui-tab-item").eq(data.index).addClass("layui-show");
            console.log(data);
        });
    });
    // 监听选文件
    $("#uploadImage").on('change', function () {
        var file = this.files[0];
        uploadFile(file, image);
    });
    // 监听选文件
    $("#uploadVideo").on('change', function () {
        var file = this.files[0];
        uploadFile(file, video);
    });

    function image(url) {
        $("#image").attr("src", url);
        $("#imageUrl").val(url);
    }

    function video(url) {
        $("#videoPlay").attr("src", url);
        $("#videoLinkUrl").val(url);
    }

    function updateInf() {
        var flag = $("#video").is(".layui-this");
        var url = "/console/message/message-update";
        var isInsert = $("#isInsert").val();
        if (isInsert == 1) {
            url = "/console/message/message-add";
        }
        if (flag) {
            $("#content").val($("#videoContent").val());
            $("#mediaType").val(1);
        } else {
            var content = $('#summernote').summernote('code');
            $("#content").val(content);
            $("#videoLinkUrl").val("");
            $("#mediaType").val(0);
            var imgReg = /<img.*?(?:>|\/>)/gi;
            var srcReg = /src=[\'\"]?([^\'\"]*)[\'\"]?/i;
            var arr = content.match(imgReg);
            var imgList = "";

            if (arr != null) {
                for (var i = 0; i < arr.length; i++) {
                    if (i > 8) {
                        break;
                    }
                    var src = arr[i].match(srcReg);
                    imgList = imgList + src[1] + ",";
                }
                $("#imgList").val(imgList);
            }
        }
        $.ajax({
            async: false,    //表示请求是否异步处理
            type: "post",    //请求类型
            url: url,//请求的 URL地址
            dataType: "json",//返回的数据类型
            data: $("#form").serialize(),
            success: function (data) {
                if (data.code == 200) {
                    layer.msg('修改成功!', {icon: 1, time: 1000});
                    return false;
                } else {
                    layer.msg(data.message, {icon: 5, time: 1000});
                    return false;
                }
            },
            error: function (data) {
                layer.alert("请求异常", {icon: 5}, function () {
                    //关闭当前frame
                    x_admin_close();
                    // 可以对父窗口进行刷新
                    x_admin_father_reload();
                });
                return false;
            }
        });
    }

</script>
</body>
</html>