<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html class="x-admin-sm">
<head th:include="commom/header :: commonHead('礼物列表')"></head>
<style>
    table {
        table-layout: fixed;
    }

    td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }
</style>
<body>
<div class="x-body">
    <xblock>
        <button class="layui-btn" th:onclick="|x_admin_show('添加礼物','/console/wish/addGift',900,600,true)|" ><i
                class="layui-icon"></i>添加
        </button>
        <span class="x-right" style="line-height:40px">共有数据：<strong
                th:text="${pageResult.page.total}"></strong> 条</span>
    </xblock>
    <table class="layui-table x-admin">
        <thead>
        <tr>
            <th style="width: 130px">礼物名称</th>
            <th style="width: 90px">参与人数</th>
            <th style="width: 90px">礼物数量</th>
            <th style="width: 109px">开奖日期</th>
            <th style="width: 120px">礼物图片</th>
            <th style="width: 240px">礼物详情</th>
            <th>阵容是否展示</th>
            <th style="width: 70px">其他操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="gift:${pageResult.results}">
            <td th:text="${gift.giftName}"></td>
            <td th:text="${gift.participateNumber}"></td>
            <td th:text="${gift.giftNumber}"></td>
            <td  th:text="${#dates.format(gift.openTime, 'yyyy-MM-dd HH:mm')}" ></td>
            <td><img style="width: 100%;" th:src="${gift.giftPicUrl}"></td>
            <td th:text="${gift.giftDescription}"></td>
            <td  class="layui-form">
                <input id="isShow"  lay-filter="isShow"  lay-skin="switch" lay-text="是|否"  name="isShow" th:checked="${gift.isShow}" th:value="${gift.id}"  type="checkbox">
            </td>
            <td>
                <a href="javascript:;"
                   th:onclick="|x_admin_show('设置兑换信息','/console/wish/setPrize?id=${gift.id}',900,600,true)|"
                   title="设置兑换信息">
                    <i class="layui-icon">&#xe6b2;</i>
                </a>
                <a href="javascript:;"
                   th:onclick="|x_admin_show('查看中奖名单','/console/wish/winningList?id=${gift.id}',900,600,true)|"
                   title="查看中奖名单">
                    <i class="layui-icon" style="color: red;margin: 5px">&#xe770;</i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:include="commom/page :: page"></div>
</div>
<span th:include="commom/footer :: commonOnLoadJs"></span>
<script th:inline="javascript" type="text/javascript">
    layui.use('form', function () {
        var form = layui.form;
        form.on('switch(isShow)', function (data) {
            var id = $(this).val();
            var swdata = data;
            $.ajax({
                async: false,    //表示请求是否异步处理
                type: "post",    //请求类型
                url: "/console/wish/setShow",//请求的 URL地址
                dataType: "json",//返回的数据类型
                data: {"isShow":data.elem.checked,"id":id},
                success: function (data) {
                    if (data.code == 200) {
                    } else {
                        swdata.elem.checked = !swdata.elem.checked;
                        form.render();
                        layer.msg(data.message);
                    }
                },
                error: function (data) {
                    swdata.elem.checked = !swdata.elem.checked;
                    form.render();
                    layer.msg("修改失败");
                }
            });
        });
    });



    function page(pageNum) {
        var gameType = $('input[name="gameType"]:checked').val();
        window.location.href = "/console/wish/giftList?pageNum=" + pageNum + "&gameType=" + gameType;
    }

    layui.use('laydate', function () {
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });
    });


</script>
</body>

</html>