<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html class="x-admin-sm">
<head th:include="commom/header :: commonHead('关联奖品')"></head>
<style>
    table {
        table-layout: fixed;
    }

    td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }

    .margin {
        margin: 0 5px;
    }

    .pageOn {
        color: rgb(255, 255, 255) !important;
        background: rgb(0, 150, 136) !important;;
        border-color: rgb(0, 150, 136) !important;;
    }
</style>
<body>
<div>
    <input th:value="${giftId}" id="giftId" type="hidden">
    <div class="x-body">
        <form class="layui-form" id="form">
            <table class="layui-table x-admin">
                <thead>
                <tr>
                    <th style="width: 80%;text-align: center">兑奖信息描述</th>
                    <th style="width: 20%;text-align: center">其他操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="aw:${awei}">
                    <td><input th:value="${aw.exchangeInformation}" class="layui-input"></td>
                    <td><input  p type="button" value="保存" class="layui-btn save" th:prizeId="${aw.id}">
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
<span th:include="commom/footer :: commonOnLoadJs"></span>
<script>
    layui.use('layer', function(){
        var layer = layui.layer;
    });

    $(function () {
        $(document).on("click", "#addLine", function () {
            var tr = "      <tr >\n" +
                "                    <td><input  class=\"layui-input\" placeholder=\"注意！只有在保存之后才会新增这条奖励\"></td>\n" +
                "                    <td><input prizeId='' type=\"button\" value=\"保存\" class=\"layui-btn save\" ><input\n" +
                "                            type=\"button\" value=\"删除\" class=\"layui-btn layui-btn-danger delete\"  prizeId=''>\n" +
                "                    </td>\n" +
                "                </tr>";
          $(this).parent().parent().before(tr);
        });
        $(document).on("click", ".save", function () {
            var text = $($(this).parent("td").parent("tr").children("td").get(0)).children().val();
            var id = $(this).attr("prizeId");
            $.ajax({
                async: false,    //表示请求是否异步处理
                type: "post",    //请求类型
                url: "/console/wish/setPrize",//请求的 URL地址
                dataType: "json",//返回的数据类型
                data: {"id": id, "exchangeInformation": text},
                success: function (data) {
                    if (data.code == 200) {
                        layer.msg('保存成功', {icon: 1,time:800});
                    } else {
                        layer.msg(data.message, {icon: 5,time:800});
                    }
                },
                error: function (data) {
                    layer.msg('失败！', {icon: 5,time:800});
                }
            });
        });
    });
</script>
</body>

</html>