<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html class="x-admin-sm">
<head th:include="commom/header :: commonHead('中奖名单')"></head>
<style>
    table {
        table-layout: fixed;
    }

    td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }
</style>
<body>
<div class="x-body">
    <table class="layui-table x-admin">
        <thead>
        <tr>
            <th >用户ID</th>
            <th >用户昵称</th>
            <th>用户头像</th>
            <th >分享图片</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user:${list}">
            <td th:text="${user.userId}"></td>
            <td th:text="${user.nickname}"></td>
            <td><img style="width: 100%;" th:src="${user.userHeadPortrait}"></td>
            <td><img style="width: 100%;" th:src="${user.uploadPicUrl}"></td>
        </tr>
        </tbody>
    </table>
</div>
<span th:include="commom/footer :: commonOnLoadJs"></span>
</body>

</html>